<ul class="myaccount-link-list">
    <li><a href="{$link->getModuleLink('npcalendar', 'calendarpage')}" title="Orders"><i class="icon-calendar"></i><span>Agenda de reservation</span></a></li>
    <li><a href="{$link->getModuleLink('npcalendar', 'customerpoint')}" title="Orders"><i class="icon-car"></i><span>Forfaits achetés</span></a></li>
    <li><a href="{$link->getModuleLink('npcalendar', 'customerdoc')}" title="Orders"><i class="icon-file"></i><span>Documents administratifs</span></a></li>
</ul>
