iframe{
  width: 100%;
  height: 90vh;
  background: white;
}
ion-content{
}
.mynav{
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  button{
    color: white;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    background: #333333;
    height: 10vh;
  }
  .selected{
    background: #584336;
    border : 2px solid white;
  }
}
.title{
  text-align: center;
  h1{
    padding: 0;
    margin: 5px 0px;
  }
  h6{
    margin: 0;
    padding: 0;
  }
}
.onebutton{
  width: calc(100% - 10px);
  margin: 5px;
  border : 3px solid  #333333;
  padding: 7px;
  font-size : 13px;
  display: flex;
  background: rgb(135,136,114);
background: linear-gradient(333deg, rgba(135,136,114,1) 0%, rgba(64,50,41,1) 100%);
  border-radius : 7px;
  .icon-container{
    width: 80px;
    height: 80px;
    display: flex;
    overflow: hidden;
    align-items: center;
  }
  .name{
    width: calc(100% - 80px);
    padding: 0px 10px;
  }
  h5{
    font-size : 1em;
  }
  *{
    color : white;
    text-align: left;
    padding: 0;
    margin: 0;
  }
}
.hide-block{
  opacity: 0;
  z-index : 0;
}
.view-block{
  position: absolute;
  top: 10vh;
  opacity: 1;
  z-index : 1;
  width: 100%;
  height: 90vh;
  background: #e6e6de;
}

.subnav{
  margin: 5px 0px;
  margin-top : 0px;
  display: flex;
  h4{
    padding: 5px 10px;
    margin: 0;
  }
  button{
    background-color: #333333;
    color : white;
    font-size : 40px;
    margin-right: 6px;
  }
  background: #584336;
  font-size : 20px;
  color : white;
  text-transform: uppercase;
}

.empty-content{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  .icon-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px 0px;
    border-radius : 100px;
    height: 100px;
    width: 100px;
    border : 3px solid #584336;
    ion-icon{
      font-size : 75px;
      color : #584336;
    }
  }
  p{
    margin: 0px 50px;
    text-align: center;
    color : #584336;
    font-size : 1.4em;
  }
}
