<ion-content>
  <div class="mynav">
    <button type="button" name="button" [ngClass]="{'selected': tab == 0}"  (click)="tab = 0;">
      Site Web
    </button>
    <button type="button" name="button" (click)="tab = 1;"  [ngClass]="{'selected': tab == 1}">
      Appli
    </button>
  </div>
  <div class="" [ngClass]="{'hide-block' : tab, 'view-block' : !tab}">
    <iframe src="https://www.autopermis.re">
    </iframe>
  </div>
  <div class="" [ngClass]="{'hide-block' : !tab, 'view-block' : tab}">
    <div class="" *ngIf="!current_category">
      <button class="onebutton" *ngFor="let c of categories" (click)="openCategory(c)">
        <div class="icon-container">
          <img [src]="c.img_link" alt="">
        </div>
        <div class="name">
          <h4>{{c.title}}</h4>
          <h5>{{c.subtitle}}</h5>
        </div>
      </button>
    </div>
    <div class="" *ngIf="current_category && !current_article">
      <div class="subnav">
        <button type="button" name="button"(click)="current_category = undefined"><ion-icon name="arrow-dropleft-circle"></ion-icon></button><h4>{{current_category.title}}</h4>
      </div>
      <div class="" *ngIf="current_category.app_cmss.length > 0">
        <button class="onebutton" *ngFor="let a of current_category.app_cmss" (click)="openArticle(a)">
          <div class="icon-container">
            <img [src]="a.img_link" alt="">
          </div>
          <div class="name">
            <h4>{{a.title}}</h4>
            <h5>{{a.subtitle}}</h5>
          </div>
        </button>
      </div>
      <div class="empty-content" *ngIf="current_category.app_cmss.length == 0">
        <div class="icon-container">
          <ion-icon name="document"></ion-icon>
        </div>
        <p>Cette section est vide, merci de revenir plus tard.</p>
      </div>
    </div>
    <div class="" *ngIf="current_article">
      <div class="subnav">
        <button type="button" name="button"(click)="current_article = undefined"><ion-icon name="arrow-dropleft-circle"></ion-icon></button><h4>{{current_article.title}}</h4>
      </div>
      <div class="">
        <p [innerHtml]="current_article.content"></p>
      </div>
    </div>
  </div>
</ion-content>
