<style media="screen">
    iframe{
        width: 100%;
        height: 700px;
    }
</style>

<div class="panel">
    <h3>My Cars</h3>
    <div class="row">
        <div class="col-lg-12">
            <h4><b>ID :</b>9051245434</h4>
            <h4><b>Password :</b> 123456</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <iframe src="http://mytkstar.net" width="800" height="600"></iframe>
        </div>
    </div>
</div>
