<a class="col-lg-4 col-md-6 col-sm-6 col-xs-12" id="identity-link" href="{$link->getModuleLink('socialmoneypot', 'managefriend')}">
    <span class="link-item">
        <i class="material-icons">people</i> Amis
    </span>
</a>
<a class="col-lg-4 col-md-6 col-sm-6 col-xs-12" id="identity-link" href="{$link->getModuleLink('socialmoneypot', 'managemoneypot')}">
    <span class="link-item">
        <i class="material-icons">people</i> Cagnottes
    </span>
</a>
<a class="col-lg-4 col-md-6 col-sm-6 col-xs-12" id="identity-link" href="{$link->getModuleLink('socialmoneypot', 'managewishlist')}">
    <span class="link-item">
        <i class="material-icons">people</i> Favoris
    </span>
</a>
